torch==2.5.1
torchvision==0.20.1
numpy==1.26.4
viser==0.2.7
Pillow
huggingface_hub
einops
safetensors
opencv-python
open3d
evo
roma
kornia
trimesh
matplotlib
pycolmap==3.10.0
pyliblzfse
git+https://github.com/nerfstudio-project/gsplat@ec3e715f5733df90d804843c7246e725582df10c
git+https://github.com/rmbrualla/pycolmap@cc7ea4b7301720ac29287dbe450952511b32125e
nerfview==0.1.3
imageio[ffmpeg]
scikit-learn
tqdm
torchmetrics[image]
tyro>=0.8.8
tensorboard
tensorly
pyyaml
git+https://github.com/rahul-goel/fused-ssim@1272e21a282342e89537159e4bad508b19b34157
easydict
plotly
plyfile